html {
  background-color: #00539f;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

.image-container {
  display: flex;         
  gap: 10px;             
  justify-content: center; 
}

.image-container img {
  width: 50%;            
  max-width: 100%;     
  height: auto;
}          


.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}

